<html lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Boilerplate</title>
	<meta name="author" content="Nathan Borror">
</head>
<body>

<div id="page">
  <div id="body" class="wrapper">
    <div id="introduction">
    <body style="background-color:orchid;">
      <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large;">LCTRS</h2>
      <form action="." method="post" class="LCTRS">
        <fieldset>
          <legend style="font-size: x-large; font-family: Arial, Helvetica, sans-serif;"> Lecture Transcript</legend>
          <p><label style="font-family: Arial, Helvetica, sans-serif;">Text to Be Summarized</label>
            <textarea name="transcript" rows="20" cols="250"></textarea></p>
        </fieldset>
        <p><input type="submit" name="submit" value="Summarize" class="button"></p>
      </form>



    </div>

  </div>

<p class="'summary"> {{data}} </p>
</div>




</body></html>