<html lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LCTRS</title>
  <meta name="author" content="Nathan Borror">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

<div id="page">
  <div id="body" class="wrapper">
    <div id="introduction">
      <div class="title">
        <h2>LCTRS</h2>
          <span class="subtitle">Lecture Summarizer</span>
      </div>
      <form action="." method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <label>Transcript:</label>
            <div class = "full-width"></div>
            <textarea name="transcript" rows="20" class="input" placeholder="Enter lecture summary here!"></textarea>
            <div class = "full-width"></div>
            <div class = "summarizebtn">
              <button type="submit" name="submit" class="pure-button pure-button-primary">Summarize</button>
            </div>
        </fieldset>
      </form>
    </div>
  </div>

<div class="summary"> {{data}} </div>
</div>
</body>
</html>
