<!doctype html>
<link rel="stylesheet" href="landingStyle.css">
<html lang="en">

<div class="splash-container">
    <div class="splash">
        <button type="button"; style = "position:relative; left:620px; top:-200px; background-color:#75A0F0;">Login</button>
        <h1 class="splash-head">lctrs</h1>
        <p class="splash-subhead">
            Text Summarizer
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">About us</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">  
                    CS 196
                </h3>
                <p>
                    words
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Creators
                </h3>
                <p>
                    Eustis
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            </div>
        </div>
    </div>
</div>
</body>
</html>